html {
  font-size: 16px;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #c6c6c6;
}

.header-logo {
  width: 138px;
  height: 10px;
  margin: 1rem auto;
  object-fit: contain;
}

.card {
  border-bottom: 1px solid #c6c6c6;
}

.card-title {
  margin: 1rem;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #171717;
}

.card-slider {
  display: flex;
  overflow-x: auto;
}

.card-info {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-price {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  color: #171717;
} 

.card-id {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
  padding-top: 0.125rem;
}

.card-colour {
  margin: 0 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
}

.colour-current {
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
  margin-bottom: 1rem;
}

.colour-selection {
  display: flex;
}

.colour-icon-black, .colour-icon-brown {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 0;
  border: solid 1px #232122;
}

.colour-icon-black {
  background-color: #000000;
}
  
.colour-icon-brown {
  background-color: #cfa880;
}

.button_select-a-size {
  width: calc(100% - 2rem);
  margin: 2rem 1rem 1rem;
  padding: 1rem 0;

  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;

  border-radius: 2px;
  background-color: #171717;
  border: solid 1px #171717;
}

.button_find-in-store {
  width: calc(100% - 2rem);
  margin: 0 1rem 1.5rem;
  padding: 1rem 0;

  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  color: #171717; 

  background-color: #ffffff;
  border: solid 1px #999999;
  border-radius: 2px;
}

.button_need-size-help {
  margin: 0 1rem 3rem;
  padding: 0;

  background-color: #ffffff;
  border: none;
}

.button_need-size-help-title {
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
}

.descr {
  padding: 2rem 1rem;
  border-bottom: solid 1px #c6c6c6;
}

.descr-header {
  position: relative;
  margin: 0;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: #171717;
}

.descr-header::after {
  content:  url(../img/triangle.svg);
  position: absolute;
  right: 0;
  transform: rotate(-180deg);
}

.descr-text {
  margin-top: 2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: Lora;
  font-weight: 400;
  color: #171717;
}

.descr-text p {
  margin: 0;
}

.descr-text-break {
  line-height: 1.5rem;
}

.shipping-returns {
  margin: 0;
  padding: 2rem 1rem;
  border-bottom: solid 1px #c6c6c6;

  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #171717;
}

.shipping-returns::after {
  content: url(../img/triangle.svg);
  position: absolute;
  right: 1rem;
}

.we-recommend {
  padding: 3rem 1rem 1rem;
}

.we-recommend-header {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #171717;

  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
}

.recommend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend-card {
  flex-basis: 8.125rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.recommend-card-image {
  display: block;
  width: 130px;
  height: 174px;
}

.recommend-card-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  font-family: Lora;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  color: #171717;
}

.recommend-card-price {
  margin: 0;
  padding-left: 1px;

  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #999999;
}

.more-for-you {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.more-for-you-header {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #171717;

  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
}

.more-for-you-text {
  display: block;
  margin-bottom: 1rem;
  font-family: Lora;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.21;
  text-decoration: none;
  color: #000000;
}

.footer {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
}

.button_country {
  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;

  padding: 0;
  margin-bottom: 1rem;
  background: inherit;
  border: none;
}

.button_language {
  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;

  padding: 0;
  margin-bottom: 1.5rem;
  background: inherit;
  border: none;
}

.need-help {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;

  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
}

.link_find-out {
  font-size: 0.875rem;
  line-height: 1.21;
  font-family: Lora;
  font-style: italic;

  display: block;
  text-align: center;
  text-decoration: none;
  color: #171717;
}