html {
  font-size: 16px;
}

body {
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: "Lora", serif;
}

.header {
  font-size: 0;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #c6c6c6;
}

.product__title {
  margin: 1rem;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #171717;
}

.product__gallery {
  display: flex;
  overflow-x: auto;
}

.product__image {
  height: 400px
}

.product__info {
  box-sizing: border-box;
  margin: 1rem 1rem 2rem;
  border-bottom: 1px solid #c6c6c6;
}

.product__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.product__price {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  color: #171717;
} 

.product__id {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
  padding-top: 0.125rem;
}

.product__colour {
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
  margin-bottom: 1rem;
}

.product__colour-btns {
  display: flex;
  padding-bottom: 2rem;
}

.colour-btn {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem; 
  border: none;
  border-radius: 50%;
  font-size: 0;
}

.colour-btn_black {
  background-color: #000;
}

.colour-btn_brown {
  background-color: #cfa880;
}

.colour-btn_active {
  border: solid 1px #232122;
}

.product__actions {
  padding: 0 1rem 3rem;
  border-bottom: solid 1px #c6c6c6;
}

.product__action-btns {
  display: flex;
  flex-direction: column;
}

.action-btn {
  height: 3rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: solid 1px #171717;

  border-radius: 2px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
}

.action-btn_black {
  color: #fff;
  background-color: #171717;
  border: solid 1px #171717;
}

.action-btn_white {
  color: #171717; 
  background-color: #fff;
  border: solid 1px #999999;
}

.product__help-btn {
  display: block;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  background-color: #fff;
  border: none;

  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  color: #171717;
}

.product__descr,
.product__delivery {
  padding: 2rem 1rem;
  border-bottom: solid 1px #c6c6c6;
}

.product__btn-expand {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.product__btn-expand-name {
  margin: 0;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: #171717;
}

.product__btn-expand_open::after {
  content:  url(../img/triangle.svg);
  position: absolute;
  right: 0;
  transform: rotate(-180deg);
}

.product__btn-expand_closed::after {
  content:  url(../img/triangle.svg);
  position: absolute;
  right: 0;
}

.product__descr-text {
  margin-top: 2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: Lora;
  font-weight: 400;
  color: #171717;
}

.product__descr-text p {
  margin: 0;  
}

.product__descr-text ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shipping-returns::after {
  content: url(../img/triangle.svg);
  position: absolute;
  right: 1rem;
}

.recommendations {
  margin: 3rem 1rem 1rem;
}

.recommendations__header {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #171717;

  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
}

.recommendations__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendations__card {
  flex-basis: 45%;
  margin-bottom: 2rem;
  text-decoration: none;
}

.recommendations__card-image {
  display: block;
  width: 100%;
}

.recommendations__card-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  font-family: Lora;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.19;
  color: #171717;
}

.recommendations__card-price {
  margin: 0;
  padding-left: 1px;

  font-family: Raleway;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #999999;
}

.more {
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.more__header {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: solid 1px #171717;

  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  color: #171717;
}

.more__link {
  display: block;
  margin-bottom: 1rem;
  font-family: Lora;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.065rem;
  text-decoration: none;
  color: #000;
}

.footer {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
}

.footer_btn {
  font-family: Raleway;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;

  display: block;
  padding: 0;
  margin-bottom: 1rem;
  background: inherit;
  border: none;
}

.footer_heading {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;

  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.footer_link{
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-family: Lora;
  font-style: italic;

  display: block;
  text-align: center;
  text-decoration: none;
  color: #171717;
}
